@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}


body {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(185, 3, 3, 0.9));
}

::-webkit-scrollbar {
    display: none;
}

/*Nav Bar*/


header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(29, 25, 25);
    color:rgb(184, 179, 179);
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
}

.logo {
    margin-left: 20px;
    margin-top: 10px;

}

.logo img {
    height: 30px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    text-align: center;
    display: inline;
    padding: 10px;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #111;
    color: rgb(255, 0, 0);
}

li img {
    margin-top: 12px;
    margin-bottom: -5px;
    height: 25px
}

/*Search Box*/
.group {
    display: inline-flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 300px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

/*Dropdown*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bba7a7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    position: absolute;
    left: 450px;
    display: block;
}

/*Slider*/

.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 21/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
}


.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/*EXPERIMENT*/

/* Trending section*/
* {
    margin: 0;
    box-sizing: border-box;
}

.headings {
    color: #f5f5f7;
    margin-left: 17px;
    cursor: pointer;
}


.row_poster {
    width: 100%;
    object-fit: contain;
    max-height: 200px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;

}

.row_poster:hover {
    transform: scale(1.08);
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_posterlarge {
    max-height: 250px;
}

/*CARDS*/

.card {
    width: 170px;
    height: 270px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 450ms;
}

.card:hover {
    transform: scale(1.08);
}


.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    width: 170px;
    height: 270px;
    top: 0;
    right: -1000px;
    position: absolute;
    background: hsla(0, 69%, 40%, 0.384);
    backdrop-filter: blur(5px);
    border-radius: 2px;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

.card:hover .card-body {
    right: 0;
}

.card-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

.card-sub-title {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 300;
}

.card-info {
    font-size: 10px;
    line-height: 15px;
    margin: 20px 0;
    font-weight: 700;
}

.card-btn {
    color: #ffffff;
    background: linear-gradient(rgba(145, 38, 38, 0.9), rgba(185, 3, 3, 0.9));
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 20px;
}


/*FOOTER*/

footer {
    padding: 10px 100px;
    background: rgba(50, 17, 17, 0.9);
}

footer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .info .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 30em;
    font-weight: 700;
}

footer .info .logo img {
    height: 7vh;
    margin-left: -55px;

}

footer .info p {
    color: #dbd9d9;
    font-size: large;
}

footer .info .footer {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .info .footer .fli {
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .info .footer .fli:hover {
    background: #000000;
    border: none;
}

footer .info .footer .fli .a i {
    font-size: 1.5em;
    color: #fff;
}

footer .info .footer .fli:hover .a i {
    color: #ff0000;
}